@using System.Web
@model IEnumerable<EmailListModel>

@using (Html.BeginForm())
{
    <body>
        <div class="panel panel-primary">
            @Html.ActionLink("Register a email", "RegisterEmail", "ViewContactsEmails", new { contactId = HttpUtility.ParseQueryString(Context.Request.QueryString.Value).Get("contactId") }, new { @class = "btn btn-primary" })
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>@Html.Label("Email")</th>
                    </tr>
                </thead>
                @foreach (var contact in Model)
                {
                    <tr><td>@contact.Email</td></tr>
                }
            </table>
        </div>
    </body>
}